body{
    background-color:rgb(140, 140, 140);
}

.divTable{
	display: table;
	width: 100%;
}

.divTableCell, .divTableHead {
	border: 1px solid rgb(140, 140, 140);
	display: table-cell;
	padding: 3px 10px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #fff9f9;
	display: table-header-group;
}
.divTableFoot {
	background-color: #ffffff;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTableHeading {
	background-color: #ffffff;
	display: table-header-group;
	font-weight: bold;
}
